ECSlidingViewController.xcodeproj/project.xcworkspace/xcuserdata/austenherbst.xcuserdatad/UserInterfaceState.xcuserstate
ECSlidingViewController.xcodeproj/project.xcworkspace/xcuserdata/BehindTheCurtain.xcuserdatad/UserInterfaceState.xcuserstate
ECSlidingViewController.xcodeproj/project.pbxproj